:root {
    --main-color: #00b4db;
    --secondary-color: #aadeea;
    --text: #252525;
    --white: #fff;
    --dark: #363949;
    --color-light: rgba(132, 163, 200, 0.18);

    --border-radius-1: 1rem;
    --card-border-radius: 2rem;
    --card-padding: 1rem;
    --padding-1: 1rem;
    --padding-2: 0.5rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow2: 0.6rem 0.6rem 0.6rem var(--dark);
    --gradient-blue: linear-gradient(to bottom right, #0083b0, #00b4db);

}

* {
    padding: 0;
    margin: 0;
    outline: 0;
    /* appearance: 0; */
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Ubuntu', 'sans-serif';
}

body {
    /* width: 100%;
    height: 100%; */
    overflow: hidden;
    background: var(--main-color);
}

/* Nav bar */

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}

aside {
    width: 16%;
    height: 100vh;
}

aside img {
    display: block;
    margin-left: 3rem;
    margin-top: 1rem;
    width: 130px;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: auto;
    position: relative;
    top: 2rem;
}

aside .sidebar a {
    display: flex;
    color: var(--text);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transform: 300ms;
}

aside .sidebar a i {
    font-size: 2rem;
    color: var(--text);
}

aside .sidebar a.active {
    margin-left: 0.5rem;
    width: 190px;
    background: var(--white);
    color: var(--main-color);
    border-radius: var(--border-radius-1);
    transition: 300ms;
}

aside .sidebar a.active i {
    color: var(--main-color);
}

aside .sidebar a.active:hover,
aside .sidebar a.active:hover i {
    color: var(--text);
}

aside .sidebar a.active::before {
    width: 6px;
    height: 100%;
    background: var(--main-color);
}

aside .sidebar a.active i {
    color: var(--main-color);
    border-radius: var(--border-radius-1);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a.active {
    color: var(--main-color);
    border-radius: var(--border-radius-1);
    margin-left: 1.5rem;
}

aside .sidebar a:hover,
aside .sidebar a:hover i {
    color: var(--white);
    transition: 300ms;
}


/* main */
main {
    width: 85%;
    height: 100vh;
    background: var(--white);
    border-radius: 2rem 0rem 0rem 2rem
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: 2rem 0rem 2rem 2rem;
}

header h1 {
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Profile & Logout */

.user-logo {
    position: relative;
}

.user-logo .dropdown {
    display: none;
}

.user-logo:hover .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 4rem;
    background: var(--white);
    box-shadow: var(--box-shadow2);
    border-radius: var(--border-radius-1);
    padding: 10px;
}

.user-logo .dropdown a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--text);
}

.user-logo .dropdown a i {
    font-size: 2rem;
}

.user-logo .dropdown a h3 {
    margin: 0;
}

.user-logo .dropdown a:hover {
    background: var(--main-color);
    color: var(--white);
    border-radius: var(--border-radius-1);
}

/* Content */

.card .top {
    display: flex;
    align-items: flex-start;
}

.card .top img {
    margin-left: 2rem;
    margin-right: 7rem;
}

.card .kanan {
    margin-top: 2rem;
    text-align: center;
}

.card .kanan h3 {
    margin-bottom: 1rem;
}

.card .kanan h1 {
    margin-bottom: 1rem;
}

.card>div {
    display: flex;
    align-items: center;
    background: var(--white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
}

.list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.8rem;
}

.insight > div:hover {
    transition: 300ms;
    box-shadow: var(--box-shadow2);
}

.insight > div {
    background: var(--white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
}

.insight > div span {
    background: var(--main-color);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--white);
    font-size: 1rem;
}

.card-content {
    display: flex;
    align-items: center;
}

.card-body {
    flex: 0 0 auto;
    margin-right: 1rem;
    /* Jarak antara card-body dan card-header */
}

.card-header {
    flex: 1;
}

.insight i {
    font-size: 3rem;
    color: var(--dark-);
}

/* Tabel */

.list-item {
    display: list-item;
    margin-top: 1rem;
    background: var(--white);
    padding: 0.8rem;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    font-size: 1rem;
}

button {
    border: none;
    width: 100%;
    background: var(--main-color);
    color: var(--white);
    padding: 1rem;
    border-radius: var(--border-radius-1);
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    height: 3rem;
    cursor: pointer;
}

button a {
    font-weight: 800;
    color: var(--white);
}

tbody a {
    border: none;
    width: 30%;
    background: var(--gradient-blue);
    color: var(--white);
    padding: 0.3rem;
    border-radius: var(--card-border-radius);
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    height: 1.5rem;
    cursor: pointer;
}

tbody tr td:last-child {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.table tr {
    height: 2rem;
}

.table tr td {
    padding: var(--card-padding);
    text-align: center;
}

.table td {
    font-size: 1rem;
    font-weight: 800;
}

/* Surat */
.buat {
    height: 450px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: var(--main-color);
    border-radius: var(--border-radius-1);
}

::-webkit-scrollbar-thumb {
    background: var(--dark);
    border-radius: var(--border-radius-1);
}

select {
    width: 100%;
    font-size: 1rem;
}

.item-option {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--dark);
    height: 3rem;
    padding: var(--padding-1);
    margin-top: 0;
    width: 70%;
    outline: none;
    transition: background .05s;
    font-size: 1rem;
    border-radius: var(--card-border-radius);
}

.item h3 {
    font-size: 1rem;
    font-weight: 800;
}

.item p {
    font-size: 0.8rem;
    font-weight: 600;
}

.item h4 {
    font-size: 0.9rem;
    font-weight: 800;
    text-align: start;
}


input[type=date]{
    padding: var(--padding-1);
}

input {
    border: 1px solid var(--dark);
    height: 3rem;
    padding: var(--padding-2);
    margin-top: 0;
    width: 70%;
    outline: none;
    transition: background .5s;
    font-size: 1rem;
    border-radius: var(--card-border-radius);
}

textarea {
    border: 1px solid var(--dark);
    height: 4rem;
    padding: var(--padding-2);
    margin-top: 0;
    width: 70%;
    outline: none;
    transition: background .5s;
    font-size: 1rem;
    border-radius: var(--border-radius-1);
    resize: none;
    overflow: hidden;
}

.item label {
    display: inline-block;
    padding: 8px 12px;
    border-radius: var(--border-radius-1);
    background: var(--gradient-blue);
    color:var(--white);
    cursor: pointer;
}

.item input[type="file"]::file-selector-button {
    display: inline-block;
    padding: var(--padding-2);
    border-radius: var(--border-radius-1);
    background: var(--gradient-blue);
    color:var(--white);
    border: none;
    cursor: pointer
}

/* Pencarian */
.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    height: 3rem;
    width: 450px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: var(--card-border-radius);
    outline: none;
}

.search-button {
    width: 3rem;
    height: 3rem;
    margin-left: 10px;
    background-color: var(--main-color);
    border: none;
    border-radius: var(--card-border-radius);
    cursor: pointer;
}

.search-button i {
    color: var(--white);    
    font-weight: 800;
}

/* Profile */

.list-profile {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 1rem;
    margin-left: 6rem;
    padding: 0.8rem;
    background: var(--white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}

.list-profile input{
    border: 1px solid var(--dark);
    height: 3rem;
    padding: var(--padding-2);
    margin-top: 0;
    width: 500px;
    outline: none;
    transition: background .5s;
    font-size: 1rem;
    border-radius: var(--card-border-radius);
}

.item-img{
    width: 100px;
    position: relative;
    margin: auto;
}

.upload img{
    border-radius: 50%;
    border: 6px solid #eaeaea;
}

.item .upload{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00b4ff;
    width: 32px;
    height: 32px;
    line-height: 33px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.item-img .upload input[type='file']{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}

input[type='file']{
    cursor: pointer;
}